.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

body {
  color: #242121;
  font-family: 'Roboto Condensed', Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: 0.6px;
  background-color: #fff;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font-size: 24px;
  line-height: 1.3;
  letter-spacing: inherit;
  text-transform: uppercase;
  border: none;
  color: inherit;
  background-color: transparent;
  font-weight: 400;
  padding: 0;
  cursor: pointer;
}

a,
li, 
input,
button {
  outline-color: #00B2A0;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.button {
  border: 1px solid #C4C4C4;
  padding: 19px 0;
  transition: background-color .3s, color .3s;
  max-width: 350px;
}

.button:hover {
  background-color: #00B2A0;
  color: #fff;
}

.button:active {
  background-color: #029283;
}

.benefits,
.blockquote,
.tarrifs {
  background-color: #F8F8F8;;
}

.title {
  font-family: 'Raleway', Arial, sans-serif;
  text-transform: uppercase;
  font-size: 48px;
  line-height: 1.2;
  font-weight: 600;
  color: #01353E;
  position: relative;
  text-align: center;
}

.title::after {
  position: absolute;
  content: '/';
  color: #00B2A0;
  font-size: 72px;
  z-index: 1;
}

/* ======= HEADER ======= */
.menu__btn {
  display: none;
  position: relative;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 3;
}

.menu__btn span,
.menu__btn span::before,
.menu__btn span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 15px;
  background-color: #fff;
}

.menu__btn span::before,
.menu__btn span::after {
  content: '';
}

.menu__btn span::before {
  top: -8px;
}
.menu__btn span::after {
  top: 8px;
}

.logo {
  outline-color: #fff;
}

.header__top.header__top--active .logo {
  z-index: 3;
}

.header__top.header__top--active .menu__list {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #174444;
  z-index: 2;
  text-align: center;
  padding-top: 80px;
}

.header__top.header__top--active .menu__item {
  margin-left: 0;
}

.header__top.header__top--active .menu__item:not(:last-child) {
  padding-bottom: 15px;
}

.header {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.header__top {
  display: flex;
  align-items: center;
  padding-top: 35px;
}

.menu {
  margin-left: 185px;
}

.menu__list {
  display: flex;
  justify-content: center;
}

.menu__item {
  font-weight: 400;
  font-size: 24px;
  padding-bottom: 5px;
}

.menu__item:not(:first-child) {
  margin-left: 45px;
}

.menu__item a {
  color: #fff;
  position: relative;
}

.menu__item a::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 1px;
  top: 100%;
  left: 0;
  background-color: #00B2A0;
  transition: transform 0.5s;
  transform: scaleX(0);
  transform-origin: center;
}

.menu__item a:hover::after {
  transform: scaleX(1);
}

.header__content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  min-height: calc(100vh - 98px);
}

.header__name {
  text-transform: uppercase;
  color: #0D302C;
  font-family: 'Raleway', Arial, sans-serif;
  font-weight: 700;
  line-height: 1.2;
  font-size: 200px;
  padding-top: 5px;
}

.header__name p {
  text-transform: none;
  font-family: 'Roboto Condensed', Arial, sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: #000000;
}

.header__icon {
  position: relative;
}

.header__icon::before {
  content: '';
  background-image: url('../images/board-icon.svg');
  width: 20px;
  height: 69px;
  position: absolute;
  top: 77px;
  transform: translateX(-50%);
}

/* ======= END HEADER ======= */

/* ======= ABOUT ======= */

.about {
  padding-top: 190px;
  padding-bottom: 199px;
}

.about__title {
  margin-bottom: 96px;
}

.about__text {
  display: flex;
  flex-wrap: wrap;
}

.about__text p {
  max-width: 483px;
}

.about__text p:not(:nth-last-child(-n+2)) {
  margin-bottom: 28px;
  min-height: 87px;
}

.about__text p:nth-child(odd) {
  margin-right: 118px;
}

/* ======= END ABOUT ======= */

/* ======= BENEFITS ======= */

.benefits {
  padding: 200px 0;
}

.benefits__title {
  margin-bottom: 95px;
}

.benefits__list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 102px;
}

.benefits__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 350px;
}

.benefits__heading {
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 24px;
  margin: auto;
  padding-left: 45px;
  max-width: 180px;
  position: relative;
}

.benefits__heading::before {
  content: '';
  position: absolute;
  height: 50px;
  width: 55px;
  background-repeat: no-repeat;
  left: -20px;
}

.benefits__heading--icon1::before {
  background-image: url('../images/sun-icon.svg');
}

.benefits__heading--icon2::before {
  background-image: url('../images/plane-icon.svg');
}

.benefits__heading--icon3::before {
  background-image: url('../images/surfer-icon.svg');
}

.benefits__text {
  max-width: 550px;
  margin: 10px auto 0;
}

.statistic {
  display: flex;
  justify-content: space-between;
}

.statistic__content {
  position: relative;
  max-width: 350px;
}

.statistic__content,
.statistic__text {
  flex-basis: 50%;
}

.statistic__text p:not(:last-child) {
  margin-bottom: 30px;
}

.statistic__item:not(:last-child) {
  margin-bottom: 10px;
}

.statistic__item {
  font-size: 24px;
  font-weight: 400;
  position: relative;
  min-height: 43px;
  padding-top: 25px;
}

.statistic__item p {
  font-size: 14px;
  font-weight: 300;
}

.percent {
  content: '';
  position: absolute;
  top: -3px;
}

.percent-1 {
  right: 100px;
}

.percent-2 {
  right: 50px;
}

.percent-3 {
  right: 5px;
}

.statistic__item::before {
  content: '';
  background-repeat: no-repeat;
  position: absolute;
  height: 20px;
  top: 7px;
}

.statistic__item--icon1::before {
  background-image: url('../images/wawe-1.svg');
  width: 200px;
}

.statistic__item--icon2::before {
  background-image: url('../images/wawe-2.svg');
  width: 247px;
}

.statistic__item--icon3::before {
  background-image: url('../images/wawe-3.svg');
  width: 293px;
}

/* ======= END BENEFITS ======= */

/* ======= TOP ======= */

.reach-top {
  padding-bottom: 314px;
  padding-top: 199px;
  position: relative;
}

.reach-top__wrapper {
  max-width: 50%;
}

.reach-top__bg {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 200px;
  background-repeat: no-repeat;
  background-position-x: right;
  background-size: 50% 100%;
}

.reach-top__title,
.reach-top__text {
  max-width: 860px;
}

.reach-top__title {
  margin-bottom: 100px;
  text-align: right;
}

.reach-top__text p {
  max-width: 510px;
  margin: 0 0 30px auto;
}

/* ======= END TOP ======= */

/* ======= GALLERY ======= */

.gallery {
  text-align: center;
}

.gallery__title {
  margin-bottom: 210px;
}

.gallery__filter {
  display: flex;
  margin-bottom: 44px;
}

.filter__item:not(:first-child) {
  margin-left: 22px;
}

.filter__btn {
  transition: color .25s;
}

.filter__btn:hover {
  color: #00B2A0;
}

.gallery__images {
  display: flex;
  flex-wrap: wrap;
  margin-right: -40px;
  margin-bottom: 10px;
}

.gallery__item {
  margin-right: 40px;
  margin-bottom: 40px;
  background-color: #333;
}

.gallery__link img {
  transition: opacity 0.3s;
  opacity: 1;
}

.gallery__link img:hover {
  opacity: 0.3;
}

.mixitup-control-active {
  color: #00B2A0;
}

.show-more__btn {
  margin-bottom: 200px;
  /*дополняют padding класса .button, 
  у кнопок разная ширина из-за разного текста */
  padding-left: 91px;
  padding-right: 91px;
}

.blockquote {
  font-style: italic;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.1;
  padding-top: 80px;
  padding-bottom: 62px;
}

.blockquote__author {
  display: block;
  font-weight: 300;
  font-size: 14px;
  max-width: 600px;
  margin-left: auto;
}

.video__link {
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 200px 0;
}

.play-icon:hover {
  fill: #4b4f4e;
}

.numbers {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding-bottom: 200px;
}

.numbers__item {
  font-weight: 700;
  font-size: 64px;
  line-height: 1.2;
}

.numbers__item:not(:first-child) {
  margin-left: 90px;
}

.numbers__item span {
  display: block;
  font-weight: 300;
  font-size: 14px;
  padding-top: 5px;
}

/* ======= END GALLERY ======= */

/* ====== BLOG ======*/

.blog {
  margin-bottom: 200px;
}

.blog__slider {
  background-color: rgba(24, 21, 21, 0.3);
}

.blog__title {
  margin-bottom: 230px;
}

.blog__slider {
  cursor: pointer;
  opacity: 0.7;
  position: relative;
}

.slider__item {
  color: #fff;
  padding-top: 315px;
  padding-bottom: 352px;
  background-repeat: no-repeat;
  background-size: cover;
}

.slider__heading,
.slider__description {
  margin-right: 15px;
  margin-left: auto;
  max-width: 585px;
}

.slider__heading {
  text-transform: uppercase;
  font-size: 48px;
  line-height: 1.2;
  font-weight: 400;
}

.slick-dots {
  position: absolute;
  display: flex;
  bottom: 77px;
  left: 50%;
  transform: translateX(-50%);
}

.slick-dots button {
  font-size: 0;
  width: 15px;
  height: 15px;
  padding: 0;
  border: none;
  border-radius: 50%;
  background-color: #fff;
}

.slick-dots button:hover {
  background-color: #00B2A0;;
}

.slick-dots li:not(:first-child) {
  margin-left: 15px;
}

.slick-dots .slick-active button {
  background-color: #00B2A0;
  outline-color: #fff;
}
/* ====== END BLOG ======*/


/* ====== TEAM ======*/
.team {
  padding-bottom: 204px;
}

.team__title {
  margin-bottom: 212px;
}

.team__images {
  display: flex;
  justify-content: space-between;
}

.team__item {
  text-align: center;
}

.team__image {
  margin-bottom: 23px;
}

.team__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 1;
  margin-bottom: 5px;
}

.team__position {
  font-weight: 400;
  line-height: 1.3;
}
/* ====== END TEAM ======*/

/* ====== TARRIFS ======*/
.tarrifs {
  padding-bottom: 200px;
}

.tarrifs__title {
  padding-bottom: 210px;
  padding-top: 200px;
}

.tariffs__list {
  display: flex;
  justify-content: space-between;
  min-height: 577px;
}

.tarrif__item {
  padding: 50px 30px 0;
  max-width: 360px;
  background-color: #fff;
  flex-grow: 1; /*???*/
  display: flex;
  flex-direction: column;
}

.service__list {
  display: flex;
  flex-direction: column;
}

.tarrif__item:not(:first-child) {
  margin-left: 60px;
}

.service__item{
  font-weight: 400;
  margin-bottom: 20px;
}

.tariff__name{
  margin-bottom: 60px;
}

.tariff__name,
.tariff__price {
  text-align: center;
  font-size: 36px;
  line-height: 1.1;
  font-weight: 400;
}

.tariff__price {
  margin-bottom: 45px;  
  margin-top: auto;  
}

.tariff__currency {
  font-weight: 400;
  font-size: 18px;
}
/* ====== END TARRIFS ======*/

/* ====== MAP ======*/
.map {
  padding: 198px 0;
}

.map__content {
  margin: 0 auto;
}
/* ====== END MAP ======*/

/* ====== FEEDBACK ======*/
.feedback {
  margin-top: 2px;
}

.feedback__title {
  margin-bottom: 240px;
}

.feedback__wrapper {
  display: flex;
  justify-content: center;
  min-height: 460px;
}

.feedback__form,
.feedback__address {
  flex-basis: 50%;
}

.feedback__address {
  background-color: #f8f8f8;
  font-weight: 400;
  padding-left: 52px;
  padding-top: 50px;
  font-size: 24px;
  line-height: 1.25;
}

.feedback__item {
  max-width: 327px;
}

.feedback__item:not(:last-child) {
  margin-bottom: 65px;
}

.feedback__form,
.feedback__contacts {
  max-width: 600px;
  width: 100%;
}

.feedback__form {
  padding-right: 30px;
}

.form__input::placeholder {
  padding-bottom: 18px;
}

.form__input::placeholder,
.textarea::placeholder {
  font-size: 18px;
  color: #00B2A0;
  font-weight: 400;
  letter-spacing: 0.6px;
  line-height: 1;
}

.textarea {
  resize: none;
  min-height: 155px;
  margin-bottom: 75px;
}

.textarea::placeholder {
  max-width: 275px;
}

.form__input,
.textarea {
  display: block;
  width: 100%;
  border: none;
  border-bottom: 2px solid #dadada;
  padding-bottom: 13px;
  color: #373a39;
  font-size: 18px;
  font-weight: bold;
}

.form__name {
  margin-bottom: 32px;
}

.form__phone {
  margin-bottom: 53px;
}

.feedback__button {
  padding-left: 111px;
  padding-right: 111px;
}
/* ====== END FEEDBACK ======*/

/* ====== SOCIAL MEDIA ======*/
.social-media {
  margin: 195px 0;
}

.social-media__list {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 24px;
}

.social-media__item:not(:first-child) {
  margin-left: 15px;
}

.social-media__link:hover {
  color: #00B2A0;
}
/* ====== END SOCIAL MEDIA ======*/

/* ====== FOOTER ======*/
.footer {
  background-color: #00B2A0;
  padding: 68px 0;
}

.footer .logo__img {
  margin: 0 auto;
}
/* ====== END FOOTER ======*/

/* ====== MEDIA ======*/
@media (max-width: 1830px) {
  .reach-top__bg {
    background-image: none !important;
  }

  .reach-top__wrapper,
  .reach-top__title,
  .reach-top__text {
    max-width: none;
  }  

  .reach-top__text p {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .reach-top__text p:not(:last-child) {
    margin-bottom: 20px;
  }
  
  .reach-top__title,
  .reach-top__text {
    text-align: center;
  }
}

@media (max-width: 1160px) {
  .about,
  .benefits,
  .reach-top {
    padding: 50px 0;
  }

  .about__title,
  .benefits__title,
  .reach-top__title {
    margin-bottom: 80px;
  }

  .about__text p,
  .about__text p:nth-child(odd) {
    margin-right: 0;
  }

  .about__text p {
    max-width: 100%;
    min-height: auto;
  }

  .about__text p:not(:nth-last-child(-n+2)) {
    min-height: auto;
  }

  .benefits__list {
    display: block;
    margin-bottom: 0;
  }

  .benefits__item {
    max-width: none;
    margin-bottom: 70px;
  }

  .benefits__heading {
    max-width: none;
  }

  .benefits__heading::before {
    top: -60px;
    left: 50%;
    transform: translateX(-50%);
  }

  .statistic {
    display: block;
    text-align: center;
  }

  .statistic__content {
    max-width: none;
    margin-bottom: 30px;
  }

  .statistic__item::before {
    transform: translateX(-50%);
  }
  
  .percent-1,
  .percent-2,
  .percent-3 {
    right: auto;
    top: -25px;
  }

  .statistic__item:not(:last-child) {
    margin-bottom: 40px;
  }

  .statistic__text {
    text-align: left;
  }
}

@media (max-width: 1024px) {
  .menu {
    margin-left: auto;
  }

  .menu__btn {
    display: block;
  }

  .menu__list {
    display: none;
  }
}

@media (max-width: 992px) {
  .title {
    font-size: 32px;
    padding: 0 20px;
  }

  .title::after {
    font-size: 50px;
  }
}

@media (max-width: 769px) {
  .header__name {
    font-size: 145px;
  }

  .header__name p {
    font-size: 22px;
  }
}

@media (max-width: 540px) {
  .header__name {
    font-size: 80px;
  }

  .header__icon::before {
    display: none;
  }
}

/* ====== END MEDIA ======*/