body {
  color: #242121;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.6px;
}

img {
    /* override reset.css value */
    display: inline;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-size: 48px;
  line-height: 56px;
  font-weight: 600;
  color: #01353E;
  position: relative;
}

.title::after {
  position: absolute;
  content: '/';
  color: #00B2A0;
  font-size: 72px;
  line-height: 85px;
  font-weight: 600;
}

/* ======= HEADER ======= */

.header {
  background-image: url('../images/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  padding-bottom: 92px;
}

.header__menu {
  display: flex;
  align-items: center;
  padding-top: 35px;
  margin-bottom: 239px;
}

.menu__logo {
  margin-right: 185px;
}

.menu__list {
  display: flex;
  justify-content: center;
}

.menu__list-item {
  font-weight: 400;
  font-size: 24px;
  padding-bottom: 5px;
  line-height: 28px;
}

.menu__list-item:hover {
  border-bottom: 1px solid #00B2A0;
}

.menu__list-item:not(:last-child) {
  margin-right: 45px;
}

.header__content {
  text-align: center;
}

.header__name {
  text-transform: uppercase;
  color: #0D302C;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  line-height: 235px;
  font-size: 200px;
  padding: 0 252px 0 294px;
}

.header__description {
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  color: #000000;
  padding: 0 387px;
  margin-bottom: 315px;
}

/* ======= END HEADER ======= */

/* ======= ABOUT ======= */

.about__title {
  padding-left: 155px;
}

.about__title::after {
  top: 3px;
  right: 105px;
}

.about__wrapper {
  padding-top: 183px;
  padding-bottom: 199px;
}

.about__title {
  margin-bottom: 96px;
}

.about__text-wrapper {
  display: flex;
}

.about__text-item {
  max-width: 490px;
}

.about__first-column .about__text-item:first-child {
  margin-bottom: 28px;
  margin-right: 110px;
  padding-top: 2px;
}

.about__first-column .about__text-item:nth-child(2),
.about__first-column .about__text-item:nth-child(3) {
  margin-right: 120px;
}

.about__first-column .about__text-item:nth-child(2) {
  margin-bottom: 27px;
}

.about__first-column .about__text-item:nth-child(3) {
  margin-bottom: 28px;
}

.about__first-column .about__text-item:last-child {
  margin-right: 119px;
}

.about__second-column .about__text-item:first-child {
  margin-left: -10px;
  margin-right: 130px;
  padding-top: 2px;
  margin-bottom: 50px;
}

.about__second-column .about__text-item:nth-child(2)
.about__second-column .about__text-item:nth-child(3) {
  margin-right: 120px;
}

.about__second-column .about__text-item:nth-child(2) {
  margin-bottom: 76px;
}

.about__second-column .about__text-item:nth-child(3) {
  margin-bottom: 29px;
}

.about__second-column .about__text-item:last-child {
  margin-right: 121px;
}

/* ======= END ABOUT ======= */

/* ======= BENEFITS ======= */

.benefits__wrapper {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #F8F8F8;
}

.benefits__title {
  padding-left: 293px;
  margin-bottom: 101px;
}

.benefits__title::after {
  right: 250px;
}

.benefits__content-wrapper {
  margin-bottom: 102px;
}

.benefits__list {
  display: flex;
}

.benefits__list-item {
  display: flex;
  flex-direction: column;
  max-width: 350px;
}

.title__lodging,
.title__flight,
.title__learning {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 24px;

  max-width: 155px;
  position: relative;
}

.benefits__list-item:first-child {
  margin-right: 74px;
}

.benefits__list-item:nth-child(2) {
  margin-right: 76px;
}

.title__lodging {
  margin: 18px 0 31px 131px;
}

.title__lodging::before {
  content: '';
  background-image: url('../images/sun-icon.svg');
  width: 55px;
  height: 50px;
  position: absolute;
  left: -65px;
  top: -18px;
}

.title__flight--top {
  margin: 5px 0 10px 144px;
}

.title__flight--bottom {
  margin: 0px 0 10px 144px;
}

.learning__wrapper {
  margin-bottom: 7px;
}

.flight__wrapper {
  margin-bottom: 5px;
}

.flight__wrapper,
.learning__wrapper {
  position: relative;
}

.flight__wrapper::before {
  content: '';
  background-image: url('../images/plane-icon.svg');
  width: 50px;
  height: 50px;
  position: absolute;
  left: 84px;
  top: 3px;
}

.title__learning--top {
  margin: 3px 0 10px 133px;
}

.title__learning--bottom {
  margin: 0px 0 10px 133px;
}

.learning__wrapper::before {
  content: '';
  background-image: url('../images/surfer-icon.svg');
  width: 50px;
  height: 50px;
  position: absolute;
  left: 73px;
  top: 2px;
}

.statistics__wrapper {
  display: flex;
}

.statistics__item {
  flex-basis: 50%;
}

.statistics__item p:first-child {
  margin-bottom: 30px;
}

.wawe__percent {
  max-width: 350px;
}

.wawe__percent:first-child {
  padding-top: 3px;
}

.wawe__percent:nth-child(2) {
  padding-top: 11px;
}

.wawe__percent:last-child {
  padding-top: 8px;
}

.percent__value {
  font-family: 'Roboto Condensed', sans-serif; 
  font-weight: 400;
  font-size: 24px;
  margin-left: 6px;
}

/* ======= END PERCENTS ======= */

/* ======= TOP ======= */

.top__wrapper {
  padding-bottom: 347px;
  background-image: url('../images/surfer.png');
  background-repeat: no-repeat;
  background-position-x: right;
}

.top__content-wrapper {
  padding-top: 199px;
  margin-right: auto;
}

.top__content-title {
  margin-bottom: 100px;
}

.top__content-item {
  max-width: 510px;
  margin-bottom: 30px;
}

.top__content-item:last-child {
  margin-bottom: 0;
}

/* ======= END TOP ======= */